<h1>About what we do!</h1>
	
	<div class="jumbotron">
		<p>ThinkFitly has a mission to bring the perfect healhty life style to everyone, and we
		want to reach that goal always keeping you as first of mind!</p>
		<p>Shortly this page will be filled with such things as mission statments, goals, and future
		advances in our application!</p>
		<p>We hope your ready to start thinking a bit more fitly!</p>
	</div>