<h1>Welcome to ThinkFitly core application!</h1>
	
	<div class="jumbotron">
		<p>Thank you for being a important part of the Thinkfitly project.  We are attempting to build
		and application that will save lives, change lives, and the whole time doing it with a heart!</p>
	</div>