<h1>Log In coming soon!</h1>

	<div class="jumbotron center">
		<p>We can't wait to let you start signing up for the best fitness app you have ever seen... But we aren't ready
		just yet! We will keep you posted so stay tuned for whats to come!</p>
		<div class="loginbtn">
			<p><%= link_to "Log In!", new_user_session_path, class: "btn btn-primary btn-lg" %></p>
		</div>
	</div>