<h1>Sign Up Here!</h1>

	<div class="jumbotron center">
		<p>This will be the future of our Sign Up page, which will be optimized for mobile 
		browsers!  Enjoying ThinkFitly will be a breeze even on your favorite smartphone!</p>
		<p>Sign up is coming soon, you will be able to tab it right below!</p>
		<div class="signupbtn">
			<p><%= link_to "Coming Soon!", "#", class: "btn btn-primary btn-lg" %></p>
		</div>
	</div>